html {
    font-size: 14px;
    font-family: 'Syncopate', sans-serif;
    background-color: #27233A;
    color: #E0E2DB;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100%;
}

header {
    margin-bottom: 2rem;
    padding: 1rem;
    height: 7rem;
    background: conic-gradient(rgba(73, 159, 104, .7), rgba(230, 175, 46, .8), rgba(73, 159, 104, .7));
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 1rem .5rem 3rem .1rem rgba(25, 23, 22, .7);
}

.logo-button {
    height: 5rem;
    width: 5rem;
    background: none;
    border: none;
    background-image: url(./resources/logo-header-light.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: .5s;
}

.logo-button:hover {
    background-image: url(./resources/logo-header-dark.png);
    transition: .5s;
}

header h2 {
    font-size: 1.5rem;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    line-height: 1rem;
    word-spacing: 2rem;
    letter-spacing: .5rem;
    text-shadow: rgba(25, 23, 22, .4) 0 0 .6em;
    margin: .5rem 0 0;
}



.generator,
.wisdom-box,
.tashi-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: baseline;
    align-items: center;
    overflow: hidden;
    flex: 1 1 auto;
    gap: 2rem
}

.generator {
    padding: 3rem;
    margin: 5rem 5rem 10rem 5rem;
    box-shadow: inset 0px 0px 3rem .7rem #499F68, 0 0px 3rem .7rem #499F68;
    background-image: url(resources/infinite-stars.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.wisdom-box {
    gap: 1rem;
    margin: 0;
}


.tashi {
    width: 20rem;
    height: 20rem;
}


#h1-wisdom {
    color: #E0E2DB;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: .5rem;
    font-weight: 500;
}

#h1-tashi {
    background: -webkit-linear-gradient(#9b4ae2, #9b4ae2, #E6AF2E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    font-size: 3rem;
    margin: 0;
    text-align: center;
    padding-top: 1rem;
}

#coin-icon {
    width: 7rem;
    height: 7rem;
    animation: upDown 1.7s linear infinite;
    margin-top: 1rem;
}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

img[src=" "] {
    display: none;
}

#coin {
    font-size: 3rem;
    font-weight: 900;
    background: -webkit-linear-gradient(#9b4ae2, #E6AF2E, #499F68);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.wisdom {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .5rem;
    line-height: 3rem;
}

#advice {
    color:#83d8a2;
}

#patron {
    color: #e9bc55;
}

.ask-button {
    font-family: 'Syncopate', sans-serif;
    font-size: 1.5rem;
    font-weight: 00;
    letter-spacing: .3rem;
    color: #E0E2DB;
    background: linear-gradient(#499F68,  rgba(199, 173, 221, 0.4), #499F68);
    padding: 1.5rem 5rem;
    border: none;
    border-radius: 3rem;
    text-shadow: 0 0 .5rem #37744d;
    transition: .3s;
}

.ask-button:hover {
    color: #E0E2DB;
    text-shadow: 0 0 1rem #E6AF2E;
    transition: .5s;
}

.ask-button:active {
    box-shadow: inset 0 0 2rem .1rem #E6AF2E;
    transition: .2s;
}

footer {
    height: 4rem;
    background: conic-gradient(rgb(230, 175, 46, .7), rgb(73, 159, 104, .7));
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    white-space: nowrap;
    width: 100%;
}

footer p {
    text-align: center;
    margin: 0 5rem;
    text-shadow: #27233A 0 0 .9em;
    letter-spacing: .3rem;
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 7px;
    }

    #coin-icon {
        margin-top: 1.5rem;
    }

    .tashi {
        width: 35rem;
        height: 35rem;
    }

    header h2 {
        margin: 1rem 3rem 0;
    }

    .generator {
        height: 70rem;
        flex: 1 1 auto;
    }

    .ask-button {
        font-size: 2rem;
        letter-spacing: .3rem;
        padding:  2.5rem 5rem  2rem 5rem;
        margin-bottom: 2rem;
    }

    #h1-tashi {
        font-size: 4rem;
}

.generator {
    margin-top: 2rem;
    
}

.generator,
.wisdom-box,
.tashi-box {
    justify-content: space-evenly;
    flex: 1 1 auto;
}
}